@import "./variable.scss";
@import "./mask.scss";

$bg-z: 9999;

.dialog-body {
  overflow: hidden;
}

.dialog-mask {
  @extend .mask;
  z-index: $bg-z;
  opacity: 0;
  @include forwardOpacity(0.25s, 0.2s);
}

.dialog-container {
  position: relative;
  max-width: 600px;
  @media only screen and(max-width: $m-w) {
    max-width: 500px;
  }
  @media only screen and(max-width: $sm-w) {
    max-width: 420px;
  }
  background-color: #f6f7f6;
  color: #000;
  margin: auto;
  top: 4.2rem;
  @media only screen and(max-height: $m-h) {
    top: 1.8rem;
  }
  @media only screen and(max-height: $sm-h) {
    top: 0.3rem;
  }
  border-radius: 10px;
  box-shadow: 0 19px 38px 10px rgba(0, 0, 0, 0.3), 0 15px 12px 10px rgba(0, 0, 0, 0.22);
}

.confirm-container {
  margin: auto;
  text-align: center;
  padding: 30px;
  > button {
    margin-right: 2.8rem;
    margin-left: 2.8rem;
  }
}

.sign-up-msg {
  h3 {
    color: red;
  }
}
