@import "bootstrap/scss/bootstrap.scss";
@import "./variable.scss";

form {
  .back {
    margin-bottom: 1.2rem;
    float: right;
  }
  .submit {
    margin-bottom: 2rem;
    margin-top: 1rem;
    float: right;
  }
  .form-group {
    margin-top: 1rem;
  }

  img {
    max-width: 100%;
    max-height: 500px;
    border: 1px solid $header-bgc;
    &.preview {
      max-height: 200px;
      filter: brightness(80%);
      opacity: 0.7;
    }
  }

  .file-label {
    @extend .btn;
    background-color: $header-bgc;
    color: $header-link-active-c;
    margin-bottom: 0px;
    &:hover {
      background-color: $header-highlight-bgc;
      color: $header-highlight-c;
    }
    &.disabled {
      background-color: #888;
      color: #000;
    }
  }

  .file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .form-control:focus {
    @extend .border-success;
    box-shadow: 0 0 5px rgb(94, 180, 137) !important;
  }
}

.login-form,
.sign-up-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;

  @mixin text {
    padding: 0.5rem;
    font-size: 1rem;
    @media only screen and(max-height: $m-h) {
      padding: 0.4rem;
      font-size: 0.8rem;
    }
    @media only screen and(max-height: $sm-h) {
      padding: 0.3rem;
      font-size: 0.6rem;
    }
  }
  div.floating-label {
    label {
      @include text;

      &.active {
        font-size: 0.9rem;
        transform: translateY(-1.3rem);
        @media only screen and(max-height: $m-h) {
          font-size: 0.7rem;
          transform: translateY(-1rem);
        }
        @media only screen and(max-height: $sm-h) {
          font-size: 0.65rem;
          transform: translateY(-0.9rem);
        }
      }
    }
  }

  .title {
    @extend .text-center;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    @media only screen and(max-height: $m-h) {
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
    }
    @media only screen and(max-height: $sm-h) {
      font-size: 1rem;
      margin-bottom: 0.2rem;
    }
  }
  input {
    height: auto;
    @include text;
  }
  .submit {
    @extend .btn-lg;
    @extend .btn-block;
    @extend .btn-success;
    font-size: 1.4rem;
    margin-top: 2.2rem;
    @media only screen and(max-height: $m-h) {
      font-size: 1rem;
      margin-top: 1rem;
    }
    @media only screen and(max-height: $sm-h) {
      font-size: 0.8rem;
      margin-top: 0.6rem;
    }
  }
  .form-group {
    @media only screen and(max-height: $m-h) {
      margin-top: 0.8rem;
      margin-bottom: 0.8rem;
    }
    @media only screen and(max-height: $sm-h) {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
}

.form-file {
  .btn-group {
    .btn {
      border-radius: 0.25rem !important;
    }
  }
}

/* App.css */
/* initially label is below input */
div.floating-label {
  $p: 0.5rem;
  $f-s: 1rem;
  label {
    display: inline-block;
    position: absolute;
    transition: all 150ms ease-in;
    color: #6c757d;

    height: auto;
    padding: $p;
    font-size: $f-s;

    &.active {
      transform: translateY(-1.3rem);
      font-size: 0.9rem;
      color: #000;
      text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 3px 0 0 #fff, -3px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 0 3px 0 #fff,
        0 -3px 0 #fff;
    }
  }

  .input {
    -webkit-appearance: none;
    height: auto;
    padding: $p;
    font-size: $f-s;
  }
}

p.href {
  color: #007bff;
  cursor: pointer;

  font-size: 1rem;
  @media only screen and(max-height: $m-h) {
    font-size: 0.8rem;
  }
  @media only screen and(max-height: $sm-h) {
    font-size: 0.6rem;
  }

  &:hover {
    border-bottom: 2px solid #007bff;
  }
}
