@import "bootstrap/scss/bootstrap.scss";
@import "./variable.scss";

.navbar {
  background-color: $header-bgc;
  z-index: 10;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.8) !important;
  @media only screen and(max-width: $m-h) {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.75) !important;
  }
  .nav-item {
    .nav-link {
      cursor: pointer;
      color: $header-link-c;
      &:hover {
        color: $header-link-hover-c;
      }
    }
    &.active .nav-link {
      color: $header-link-active-c;
    }
  }
  font-size: 1.2rem;
  @media only screen and(max-width: $sm-w) {
    font-size: 1rem;
  }
  .navbar-brand {
    overflow: hidden;
    width: 175px;
    height: auto;
    @media only screen and(max-width: $sm-w) {
      width: 120px;
    }
  }

  .hamburger {
    @include rotate(0deg);
    @include ease-in-out(0.5s);
    width: 42px;
    height: 42px;
    @media only screen and(max-width: $sm-w) {
      width: 21px;
      height: 21px;
    }
    position: relative;
    margin: 2px auto;
    position: relative;
    cursor: pointer;

    span {
      @include rotate(0deg);
      @include ease-in-out(0.25s);
      display: block;
      position: absolute;
      height: 4px;
      @media only screen and(max-width: $sm-w) {
        height: 3px;
      }
      width: 100%;
      background-color: green;
      border-radius: 2px;
      opacity: 1;
      left: 0;
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2),
      &:nth-child(3) {
        top: 18px;
        @media only screen and(max-width: $sm-w) {
          top: 9px;
        }
      }
      &:nth-child(4) {
        top: 36px;
        @media only screen and(max-width: $sm-w) {
          top: 18px;
        }
      }
    }

    &.open span {
      &:nth-child(1),
      &:nth-child(4) {
        top: 18px;
        @media only screen and(max-width: $sm-w) {
          top: 9px;
        }
        width: 0%;
        left: 50%;
      }
      &:nth-child(2) {
        @include rotate(45deg);
      }
      &:nth-child(3) {
        @include rotate(-45deg);
      }
    }
  }

  .badge-count {
    @extend .badge;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 9px;
    font-size: 12px;
    background: red;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -3px;
  }

  .dropdown.show {
    text-overflow: ellipsis !important;
    i.fa-angle-left {
      @include rotate(-90deg);
      @include ease-in-out(0.25s);
    }

    .dropdown-menu.show {
      width: 1px;
      @include easeOpacity(0.85s);
    }

    .dropdown-item {
      cursor: pointer;

      &:hover {
        background-color: $header-highlight-bgc;
        .fa-circle:before {
          content: "•";
          color: green;
        }
      }
    }
  }
}
