@import "bootstrap/scss/bootstrap.scss";
@import "./variable.scss";

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 3px solid $header-highlight-bgc;
    border-color: $header-highlight-bgc transparent $header-highlight-bgc transparent;
    animation: lds-dual-ring 1s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
