@import "bootstrap/scss/bootstrap.scss";
@import "./variable.scss";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", e, 微軟正黑體 !important;
  background: $bgc !important;
  color: $c;
  overflow-x: hidden !important;
  padding-top: 5.1rem;
  @media only screen and(max-width: $sm-w) {
    padding-top: 4.1rem;
  }
}

.container-fluid,
.row,
.col {
  padding: 0px !important;
  margin: 0px !important;
}
