$bgc: #292929;
$c: #fff;
$header-bgc: #313131;
$header-link-c: #999;
$header-link-hover-c: #ccc;
$header-link-active-c: #fff;
$header-highlight-bgc: #d6f1e3;
$header-highlight-c: #008000;
$m-w: 850px;
$sm-w: 650px;
$sm-h: 600px;
$m-h: 750px;
// --breakpoint-xs: 0;
// --breakpoint-sm: 576px;
// --breakpoint-md: 768px;
// --breakpoint-lg: 992px;
// --breakpoint-xl: 1200px;
@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin ease-in-out($s) {
  -webkit-transition: $s ease-in-out;
  -moz-transition: $s ease-in-out;
  -o-transition: $s ease-in-out;
  -ms-transition: $s ease-in-out;
  transition: $s ease-in-out;
}

@mixin animateOpacity {
  @-webkit-keyframes op {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes op {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-o-keyframes op {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-ms-keyframes op {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes op {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
@include animateOpacity();

@mixin easeOpacity($s) {
  -webkit-animation: op ease $s;
  -moz-animation: op ease $s;
  -o-animation: op ease $s;
  -ms-animation: op ease $s;
  animation: op ease $s;
}

@mixin forwardOpacity($s1, $s2) {
  -webkit-animation: op $s1 $s2 forwards;
  -moz-animation: op $s1 $s2 forwards;
  -o-animation: op $s1 $s2 forwards;
  animation: op $s1 $s2 forwards;
}
